thead{
    color:#337AB7
}

h1{
    color:#337AB7   
}
.card-body{
    background-color:#ffffff;
}
.card-header{
    background-color: #1a75ff;
  float: left;
}
.title {
    float: left;   
}
h1{
    color: black;
}
.card{
    height: 100%;
    width: 100%;
}